/* _grid.scss */
#{$row-class-name} {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	// wrap
	&#{$row-wrap}{
		flex-wrap: wrap;
	}

	&#{$row-wrap-reversed}{
		flex-wrap: wrap-reverse;
	}

	// direction
	&#{$row-horizontal}{
		flex-direction: row;

		&#{$row-reversed}{
			flex-direction: row-reverse;
		}
	}
	&#{$row-vertical}{
		flex-direction: column;
		
		&#{$row-reversed}{
			flex-direction: column-reverse;
		}
	}

	// justify content
	&#{$row-start} {
		justify-content: flex-start;
	}					
	&#{$row-end}{
		justify-content: flex-end;
	}
	&#{$row-center}{
		justify-content: center;
	}
	&#{$row-between}{
		justify-content: space-between;
	}
	&#{$row-around}{
		justify-content: space-around; 
	}

	// col
	#{$col-class-name}{
		flex: 1;

		@include col-width($col-widths);
		
		@include col-grow($col-grows);

		@include col-offset($col-widths);
	}

}