@mixin col-width($widths){
	@each $width in $widths{
		&#{$col-class-name}-#{$width}{
			width: percentage($width/100);
		}
	}
}


@mixin col-grow($grows){
	@each $grow in $grows{
		&#{$col-class-name}-#{$grow}x{
			flex-grow: $grow;
		}
	}
}

@mixin col-offset($widths){
	@each $width in $widths{
		&#{$col-class-name}-#{$offset-prefix}-#{$width}{
			margin-left: percentage($width/100);
		}
	}
}
